
/* This will apply all included styles to the header element */
header{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* This will apply all included styles to any element which uses the "logo" class*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -75px;
}

/* This will apply any included styles to the body element */
body{
    font-family: 'Trebuchet MS'
}

/* Create your own classes below! */

nav {
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav li {
    float: left;
    border-right: 1px solid #bbb;
}

nav li:last-child {
    border-right: none;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.text-box {
    width: 400px;
    border: solid 1px;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

.colors-2{
    background-color: #ccccff;
}

.colors-3{
    background-color: #fffecc;
}

.textbox-container{
    display: flex;
    justify-content: space-evenly;
}

.textbox-container img{
    object-fit: contain;
}

.textbox-container-in{
    display: flex;
    flex-direction: column;
}

.textbox-viewport{
    height: 100vh;
    width: 100vw;
    background-color: #cc9900;
    width: 100%;
}

.textbox-viewport-width100{
    height: 100vh;
    width: 100vw;
    width: 100%;
    background-color: #0033cc;
}

.tiled-image{
    background-image: url(../images/coffee.jpg);
    background-repeat: repeat;
    background-color: #0033cc;
    height: 100vh;
    width: 100vw;
    width: 100%;
}

.actual-image{
    background-image: url(../images/coffee.jpg);
    background-repeat: no-repeat;
    background-color: #cc9900;
    height: 100vh;
    width: 100vw;
    width: 100%;
}

.stretched-image{
    background-image: url(../images/coffee.jpg);
    background-repeat: no-repeat;
    background-color: #0099cc;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    width: 100%;
}